@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #151515;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1){
  color: #fff;
}

section:nth-child(2){
  color: #151515;
  background: #fff;
}

section:nth-child(3){
  color: #fff;
}

section:nth-child(4){
  color: #1D212B;
  background: #fff;
}

section .container{
  margin: 100px;
}

section h1{
  font-size: 60px;
}

section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  background: #ec0000;
  margin: 20px;
  padding: 20px;
  color: #fff;
}

section .cards .text-card h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 40px;
  }

  section .cards{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
      

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(-360deg);
    }
  }
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #ec0000);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
  }
  .cube div span h2
  {
    position: absolute;
    font-size: 7em;
    color: #fff;
    transform: translateZ(50px);
  }
  .cube div span h2:nth-child(1)
  {
    transform: translateZ(0) translateY(20px);
    color: #151515;
  }
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
  }
  .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(255, 0, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(89, 126, 89, 0.2), 0 0 200px rgba(255, 0, 0, 0.4),
      0 0 300px rgba(255, 0, 0, 0.6), 0 0 400px rgba(255, 0, 0, 0.8),
      0 0 500px rgb(255, 0, 0);
  }
  

  .drop
  {
    position: relative;
    width: 150px;
    height: 150px;
    /* box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.05),
    15px 20px 20px rgba(255, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9); */
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.05),
    15px 25px 10px rgba(255, 255, 255, 0.05),
    15px 20px 20px rgba(255, 255, 255, 0.05),
    inset -10px -10px 15px rgba(0, 0, 0, 0.9);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(2);
  }

  .drop::before
  {
     content: '';
     position: absolute;
     top: 35px;
     left: 25px;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: #ffffff;
  }

  .drop::after
  {
     content: '';
     position: absolute;
     top: 25px;
     left: 50px;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: #ffffff;
  }

  .drop i
  {
     font-size: 4em;
     position: absolute;
  }




.drop i:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 1px rgb(255, 255, 255);
}

.drop i:nth-child(2) {
	color: rgb(255, 255, 255);
	animation: animate23 2s ease-in-out infinite;
}

@keyframes animate23 {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.contBox
{
    height: 80vh;
    width: 100%;
    animation: 5s shadowAni infinite;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 40px 0px 45px #ec0000;
}

.contBox p
{
    width: 80%;
}

@keyframes shadowAni {
0%, 50%{
    box-shadow: 40px 0px 45px #ec0000;
} 

25%, 75%
{
    box-shadow: 0px 40px 45px #ec0000;
}
}

.contact 
{
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;



}

.contact h2
{
  height: 5vh;
}

.contact form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;


}

.contact form .input
{
  width: 100%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.contact form  input
{
  padding: 15px;
  padding-left: 25px;
  width: 70%;
  border-radius: 50px;
  outline: none;
  border: none;
  margin: 1%;
 
}


.contact form textarea
{
  padding: 15px;
  border: none;
  outline: none;
  width: 70%;
  border-radius: 20px;
}

.contact form button
{
  margin: 1%;
  padding: 15px;
  color: #fff;
  width: 50%;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: #ec0000;
}